# Konfigurasi Google Sheets & Google Drive
SPREADSHEET_ID=1Nfjr65ckfBN3wNLIEiU-zEEbW4qjBoh1vN05s9EFva4
DRIVE_FOLDER_ID=1XG27yK_Demo_Folder_ID_Raport

# Jalur berkas Google Service Account JSON (jika ada)
GOOGLE_APPLICATION_CREDENTIALS=credentials.json

# Port Lokal Server
PORT=8000
